@font-face {
    font-family: 'DIN';
    src: url("../fonts/DIN_Alternate_Bold/DIN_Alternate_Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'DIN';
    src: url("../fonts/DIN_Alternate_Regular/DIN_Alternate_Regular.otf") format("opentype");
    font-weight: normal;
}

.container {
  overflow: hidden;
  width: 100%;
}

/* change the link color */
.nav-item .nav-link, .nav-item .nav-link.active {
    font-family: 'DIN';
    font-weight: bold;
    position: relative;
    color: #373233;
}

.nav-item .nav-link.active {
    position: relative;
    background: none;
    border-radius: 0;
}
/*
.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 24px;
  left: 0;
  bottom: 0;
  background: #ffb3e9;
  z-index: -1;
  display: inline-block;
}
*/
.nav-link.active .title-bg {
    background-color: none;
    left: 0;
    height: 0.5em;
    bottom: 0;
    position: relative;
    right: 0;
    /*top: 0.35em;*/
    z-index: -1;
    box-shadow: 0px -0.5em 0 #ffb3e9 inset;/*, -10px 0 0 #ffb3e9;*/
}

.h2 {
    font-family: 'DIN';
    font-weight: bold;
    color: #373233; 
}

.h4 {
    font-family: 'DIN';
    font-weight: normal;
    color: #ffb3e9;  
}

.h5 {
    font-family: 'DIN';
    font-weight: bold;
    color: #373233;  
}

.p {
    font-family: 'DIN';
    font-weight: normal;
    color: #373233;     
}

.p .title {
    font-family: 'DIN';
    font-weight: normal;
    color: #ffb3e9;
}

.a-overlay {
    font-family: 'DIN';
    font-weight: bold;
    color: #373233;
    background-color: rgba(255,255,255,0.7);
}
.hover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hover .overlay{
  width: 100%;
  height: 15%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  padding: 50px 20px;
}