<div class="container-fluid">
		<div class="heading">
			<div class="row align-items-end">
				<div class="col-md h2" align="left">
						Annie Preston
				</div>
				<div class="col-md h4" align="right">
					<ul class="nav nav-fill justify-content-end">
	  					<li class="nav-item">
	    					<a class="nav-link" href="index.html">
	    						<span class="title-bg">visualization</span>
	    					</a>
	  					</li>
	  					<li class="nav-item">
	    					<a class="nav-link" href="publications.html">
	    						<span class="title-bg">publications</span>
	    					</a>
	  					</li>
	  					<li class="nav-item">
	    					<a class="nav-link" href="art.html">
	    						<span class="title-bg">art</span>
	    					</a>
	  					</li>
	  					<li class="nav-item">
	    					<a class="nav-link" href="about.html">
	    						<span class="title-bg">about</span>
	    					</a>
	  					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>